@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background: #00F260;  fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(img/ian-schneider-PAykYb-8Er8-unsplash.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /*font-weight: normal;*/
    font-size: 1.9rem;
    margin-top: 50px;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.big-text {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 0 3rem;

}

.countdown-elem {
    text-align: center;
}

.countdown-elem span{
    font-weight: bold;
    font-size: 0.9rem;
}

.until-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 55px;
}

.until-container p {
    font-weight: normal;
    font-size: 1.4rem;
}